@inject DemoMenuMeta meta
@functions {
    string GetSimulatorCssClass() {
        var result = "simulator";
        if(DemoUtils.SIMULATOR_NO_BORDER) {
            result += " simulator-no-border";
        }
        return result;
    }
    bool IsCodeVisible() {
        if(!DemoUtils.DISPLAY_CODE) return false;
        if(DemoUtils.DISPLAY_CODE_FUNC != null && !DemoUtils.DISPLAY_CODE_FUNC(meta.CurrentDemo)) return false;
        return true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeyStone</title>

    @RenderSection("ExternalDependencies", false)
    @await Html.PartialAsync("~/DemoShell/Views/_DemoResources.cshtml")

    @RenderSection("Localization", false)
</head>
<body class="dx-viewport">
    <header class="header">
        <div class="header-container">
            <a class="logo" href="@Url.Content("~/")">
                KeyStone
            </a>

        </div>
    </header>
    <div class="body">
       @RenderBody()
    </div>
</body>

</html>
